<div class="container-fluid">
  <div style="margin:20px 0 20px">
    <div class="row">
      <div class="col-md-6">
        <p id="notice"><%= notice %></p>

        <h1>Listing Teams</h1>

        <table class="display table" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @teams.each do |team| %>
              <tr>
                <td><%= team.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <% link_to 'New Team', new_team_path %>
      </div>
    </div>
  </div>
</div>
