

<div class="container-fluid">
  <div style="margin:20px 0 20px">
    <div class="row">
      <div class="col-md-6">
        <h1>Editing Task</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @task %> |
        <%= link_to 'Back', tasks_path %>
      </div>
    </div>
  </div>
</div>
