<div class="container-fluid">
  <div style="margin:20px 0 20px">
    <div class="row">
      <div class="col-md-6">
        <p id="notice"><%= notice %></p>

        <h1>Listing Players</h1>

        <table class="display table" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Team</th>
            </tr>
          </thead>

          <tbody>
            <% @players.each do |player| %>
              <tr>
                <td><%= player.name %></td>
                <td><%= player.team.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= paginate @players %>
      </div>
    </div>
  </div>
</div>
